<div class="section">
  <h1>Contact</h1>

  <p><strong>Nom :</strong> Lucas Schiavetti</p>
  <p><strong>Email :</strong> <a href="mailto:lucas.schiavetti@etu.unice.fr">lucas.schiavetti&#64;etu.unice.fr</a></p>
  <p><strong>Téléphone :</strong> 06 79 07 59 48</p>
  <p><strong>Adresse :</strong> 506 avenue de la Libération, 06700 Saint-Laurent-du-Var</p>

  <p><strong>Permis :</strong> B et 125</p>

  <p>
    <strong>GitHub :</strong>
    <a href="https://github.com/LanriusS" target="_blank">github.com/LanriusS</a><br />
    <strong>LinkedIn :</strong>
    <a href="https://www.linkedin.com/in/lucas-schiavetti-099b911b9/"
      target="_blank">linkedin.com/in/lucas-schiavetti</a>
  </p>
</div>