@import "../../../../styles.scss";

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: $violet;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }

  .menu-toggle {
    position: absolute;
    top: 30px;
    right: -80px;
    background-color: $noir;
    color: $blanc;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      transition: 0.5s;
      background-color: $violet;
      border: solid $noir 1px;
    }
  }

  .menu-content {
    padding: 2rem 1rem;
  }

  h1 {
    margin: 8% 0;
    font-size: 2rem;
  }

  h2 {
    margin: 5% 0;
    font-size: 1.8rem;
  }

  nav {
    margin-top: 20%;

    .menu-item {
      margin-top: 5%;
      display: flex;
      align-items: center;
      padding: 0.8rem;
      color: $blanc;
      text-decoration: none;
      gap: 0.5rem;
      transition: 0.3s;
    }

    .menu-item:hover,
    .menu-item.active {
      background: #7d62cf;
      border-radius: 3px;
    }

    .material-icons {
      font-size: 1.2rem;
    }
  }
}
