<div class="menu-container" [class.open]="isOpen">
  <div class="menu-toggle" (click)="toggleMenu()">
    <span *ngIf="!isOpen">&#9776; Menu</span>
    <span *ngIf="isOpen">&#10006; Fermer</span>
  </div>

  <div class="menu-content">
    <div class="row-xs-sm-md">
      <h1>Lucas Schiavetti</h1>

      <h2>Développeur web junior</h2>
    </div>
    <nav>
      <a
        *ngFor="let item of menuItems"
        [routerLink]="item.path"
        routerLinkActive="active"
        class="menu-item"
      >
        <i class="material-icons">{{ item.icon }}</i>
        <span>{{ item.label }}</span>
      </a>
    </nav>
  </div>
</div>
