<div class="section">
  <h1>Expériences professionnelles</h1>

  <ul>
    <li><strong>Avril - Juin 2024 :</strong> Stage développeur front-end — MonacoDigital
      <br />Projet : plan de charge + site Angular (Bootstrap, SCSS, frameworks)
    </li>
    <li><strong>Sept 2022 - 2025 :</strong> Barista — Malongo Cap 3000</li>
    <li><strong>Sept 2021 - Août 2022 :</strong> Caissier — Monoprix Gorbella, Nice</li>
    <li><strong>Juillet - Août 2021 :</strong> Employé polyvalent — McDonald's Nice</li>
    <li><strong>Février 2019 :</strong> Animateur — Centre de loisirs à Èze</li>
    <li><strong>2016 à 2020 :</strong> Animateur saisonnier — Centre Marius Grassi (6-14 ans)</li>
  </ul>
</div>