<div class="section">
  <h1>Compétences techniques</h1>

  <h3>Développement Web</h3>
  <ul>
    <li>HTML / CSS / SCSS</li>
    <li>Angular, Bootstrap, Vue</li>
    <li>PHP, SQL, Git</li>
  </ul>

  <h3>Langages</h3>
  <ul>
    <li>Python, C, Java</li>
  </ul>

  <h3>Outils</h3>
  <ul>
    <li>Figma, Godot, Arduino</li>
  </ul>

  <h3>Qualités</h3>
  <ul>
    <li>Responsable</li>
    <li>Autonome</li>
    <li>Rigoureux</li>
    <li>À l'écoute</li>
  </ul>

  <h3>Langues</h3>
  <ul>
    <li>Anglais : C1</li>
    <li>Italien : A2</li>
  </ul>
</div>