$noir: #050505;
$beige: #e7decd;
$rouge: #d34444;
$violet: #a997df;
$blanc: #eef1ef;

.all {
  width: auto;
  height: 100vh;
  color: $noir;
  background-color: #e7decd;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  router-outlet {
    margin-left: 500px;
  }
}
