
$noir: #050505;
$beige: #E7DECD;
$rouge: #d34444;
$violet: #A997DF;
$blanc: #EEF1EF;

.all{
  width: auto;
  height: 100vh;
  color: $noir;
  background-color: #E7DECD;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
